.title1{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 3%;
    text-align: center;
    color: var(--primary-color-blue);
    font-size:1.9em;
}
.card-centro{
    text-align: center;

}
.logocapacete{
    width: 200px;
    height: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;

}

.btn{
    background-color: var(--primary-color-blue);
    color: white;
}

.btn:hover{
    background-color: white;
    color: var(--primary-color-blue);
    border: 2px solid var(--primary-color-blue);
}

#conteudo{
    text-align: center;
}



@media (max-width: 575.98px) {
    
    .logocapacete{
        width: 40%;
        height: 40%;
        margin: 30px auto;
    }
    .title1{
        font-size: 1.5em !important;
    }
    .cabecalho img{
        width: 48%;
        height: 64%;
    }
}


@media (max-width: 790px) {
    .cabecalho img{
        width: 45%;
        height: 90%;
        margin-bottom: 20px; }

    .logocapacete{
        width: 42%;
        height: 42%;
        margin: 70px auto;
    }
    .title1{
        font-size: 1.9em;
    }
    
}



@media (max-width: 1200px) {
    .logocapacete{
        width: 30%;
        height: 30%;
        margin: 20px auto;
    }
    .title1{
        font-size: 1.9em;
        margin: 25px;
    }
    
}