.img-image-card .svg-1{
    fill: rgba(157, 157, 157, 0.3);
    width: 160px;
    max-width: 100%;
    padding: 45px 25px 15px;
}

.card:hover  .svg-1{
fill:var(--primary-color-red);
padding: 45px 25px 15px;
}

.img-image-card .svg-2{
    fill: rgba(157, 157, 157, 0.3);
    width: 160px;
    max-width: 100%;
    padding: 45px 25px 15px;
}

.card:hover  .svg-2{
    fill: var(--primary-color-blue);
    padding: 45px 25px 15px;
}

.card {
    margin-bottom: 60px !important;
    text-align: center;
    min-width: 30% !important;
    max-width: 30%;
    height: 40%;
}

.img-image-card img{
    color: aqua;
}

.card-body {
    padding: 0 !important;
    height: 80px !important;
    color: gray;
}

.dados-vaga {
    color: white;
    padding: 10px;
    font-size: 16px;
}

.fundo-card-1 {
    background-color: var(--primary-color-red);
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fundo-card-2 {
    background-color: var(--primary-color-blue);
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-deck{
    justify-content: center;
}
.card-deck .card {
    box-shadow: 0px 0px 8px 0px rgba(157, 157, 157, 0.3);
    border-color: transparent;
}

.img-image-card img, .card img {
    width: 155px;
    padding: 45px 25px 15px;
}

.title {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    margin-bottom: 6%;
    margin-top: 4%;
}

.img-image-card h4 {
    font-size: 28px;
    text-transform: uppercase;
    max-height: 80px;
    height: 80px;
}

.title-1 {
    color: var(--primary-color-blue);
    font-size: 0.7em;
}

.title-2 {
    color: var(--primary-color-red);
    font-size: 0.7em;
}

.card-body h4{
    margin-top:5%;
    /* font-size: 1em; */
}
.dados-vaga{
    font-size: 0.9em;
}

@media (max-width: 575.98px) {
    .card-body h4{
        margin-top:5%;
        font-size: 1em !important ;
    }
    .dados-vaga{
        font-size: 0.7em !important;
    }
}

@media (max-width: 1200px) {
    .card-deck .card {
        flex: 1 1 0%;
    }
}

@media (max-width: 960px) {
    .title{
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .title-1 {
        font-size: 0.5em;
        font-weight: bolder;
    }

    .title-2 {
        font-weight: bolder;
        font-size: 0.5em;
        color: var(--primary-color-red);
    }

    .card {
        min-width: 40%;
        max-width: 100%;    
    }
    
    .card-body h4{
        margin-top:5%;
        font-size: 1em;
    }
    .dados-vaga{
        font-size: 0.9em;
    }
}

svg{
    max-width: 100%;
}

svg.svg-1 {
    max-width: 100%;
}
